.body_fond{
    width: 100%;
    height: 100%;
    background-color: #191c32;
    font-size: 15px; 
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}
.texto_pantalla{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
}
.siglas_separadas{
    color: aqua;
}

.button{
    display: flex;
    width: 100%;
    max-width: 500px;
    list-style: none;
    justify-content: space-around;
    padding: 10px;
    margin: 10px auto;
}
.boton_color{
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: aqua;
        font-size: 20px;
        color: black;
        margin: 5px;
        width: 100%;
        height: 50px;
        padding: 10px 20px;
        border-radius: 5px; /*tamaño del borde del boton*/
        border-color: aqua; /*color del borde del boton*/
        cursor: pointer; /*activando animacion a pasar el cursor encima del boton*/
        transition: 0.5s ease;    
}
.boton_color:hover {  /*editando la animacion del boton*/
        background-color: #191c32; 
        color: white;
        transform: scale(0.8); /* Aumenta el tamaño 10% */
}

/*Hasta aqui he finalizado la edicion del nav*/

.imagen_ilustrativa{
    max-width: 100%;
    height: auto;
    display: block;
    justify-content: center; 
    align-items: center;     
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px
}
.contenedor_imag_pagina2{
    background-color: black;
    display: flex;              
    justify-content: center;   
    gap: 100px;                  
    flex-wrap: wrap;           
    margin-top: 20px;
    height: 270px;
    align-items: center;       
}
.imagen_trayectoria{
    width: 150px;              
    height: 150px;                  
    display: block;
    border-radius: 12px;       
    box-shadow: 2px 2px 10px white;
}
.titulo_pag1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.titulo_pag2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}
.titulo_pag3{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.contenedor_sobre_mi{    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;   
}
.contenedor_trayectoria{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 20px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.contenedor_contacto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto; 
}

.grilla {
    background-color: #191c32;
    border: 1px solid aqua;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: justify;
    max-width: 100%;
}
  
.grilla:hover {
    transform: translateY(1.1%);
}
 .grilla h3 {
    margin-bottom: 10px;
    color: white;
}
  
.grilla p {
    color: white;
    line-height: 1.6; 
}
.grilla_pag2{
    background-color: #191c32;
    border: 1px solid aqua;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: justify;
    max-width: 100%;
}
.grilla_pag2:hover{
    transform: translateY(1.1%);
}
.desarrollo_trayectoria{
    font-size: 16px;
    text-align:justify;
}
.grilla_pag3{
    background-color: #191c32;
    border: 1px solid aqua;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: justify;
    max-width: 100%;
    line-height: 1.6;
}
.grilla_pag3:hover{
    transform: translateY(1.1%);
}
/*aqui he finalizado la edicion del section*/
